<!DOCTYPE html>
<html>

<head>
    <title>baby monitor</title>
    <!-- <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script> -->

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap4-toggle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.6.4.min.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/bootstrap-switch.min.js') }}"></script> -->

    <link href="{{ url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/bootstrap4-toggle.min.css')}}" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}"> -->

    <style>
        body {
            background-color: #f2f1f6;

            /* 바꾸고자 하는 배경색으로 변경 */
        }
    </style>
    <style>
        /* .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        } */

        .slider-container {
            display: flex;
            align-items: center;
        }

        .slider-input {
            margin-right: 10px;
        }

        .slider-value {
            display: inline-block;
            min-width: 3em;
            text-align: right;
        }

        .card {
            border-radius: 18px;
        }

        .progress-bar.animated {
            -webkit-animation: stripe 1s linear infinite;
            animation: stripe 1s linear infinite;
        }

        .toggle.ios,
        .toggle-on.ios,
        .toggle-off.ios {
            border-radius: 15rem;
        }

        .toggle.ios .toggle-handle {
            border-radius: 15rem;
        }

        @keyframes stripe {
            0% {
                background-position: 1rem 0;
            }

            100% {
                background-position: 0 0;
            }
        }
    </style>


</head>

<body>
    <div class="mx-3">
        <!-- <h1>Welcome</h1> -->
        <!-- 카메라 데이터를 출력할 이미지 요소를 생성합니다. -->
        <!-- <img id="camera-img" src="/camera" width="640" height="480" /> -->
        <img src="{{ url_for('camera_stream') }}" class="img-fluid mx-auto d-block rounded shadow" />

        <!-- <div class="card shadow">
            <div class="card-body text-center">
                <div class="card-text" id=" current-time-container">
                    현재 시간 : <span id="current-time"></span>
                </div>
            </div>
        </div> -->
    </div>
    <br>

    <div class="mx-3">
        <div class="row">
            <div class="col">
                <div class="card mb-3 shadow" style="max-width: 100%;  max-height: 9rem;">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: bold; ">히터</h5>
                        <h3 id="heater">{{ heater }}</h3>
                        <div>
                            <span id="heater"></span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3 shadow" style="max-width: 100%;  max-height: 100%;">

                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: bold; ">온도제어</h5>
                        <div class="form-range">
                            <div id="autoMode" style="display: block;">현재 상태 : 자동</div>

                            <input id="toggle-one" type="checkbox" data-style=" ios">

                            <label class="form-label" for="modeToggle">수동제어</label>
                            <!-- <input id="toggle-one" type="checkbox" data-toggle="toggle" data-style="ios" onClick="showChkState()"> -->
                            <!-- <link
                                href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
                                rel="stylesheet">
                            <script
                                src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script> -->
                            <!-- <script>
                                $(function () {
                                    $('#toggle-one').bootstrapToggle({
                                        on: '1',
                                        off: '0'
                                    });
                                })
                            </script> -->
                        </div>
                        <div id="manualMode" style="display: none;">
                            <div class="form-range">
                                <label for="temperatureRange" class="form-label">Temperature: <span
                                        id="temperatureValue"></span></label>
                                <input type="range" class="form-range" id="temperatureRange" min="18" max="29"
                                    value="24" step="1">
                            </div>
                            <button id="confirmButton" class="btn btn-primary">Confirm</button>
                        </div>

                        <script>
                            var modeToggle = document.getElementById("toggle-one");
                            var manualMode = document.getElementById("manualMode");
                            var temperatureRange = document.getElementById("temperatureRange");
                            var temperatureValue = document.getElementById("temperatureValue");
                            var confirmButton = document.getElementById("confirmButton");

                            // 초기값 설정
                            temperatureValue.innerHTML = temperatureRange.value;

                            // 토글 스위치의 상태가 변경되면 실행되는 함수
                            document.getElementById('toggle-one').addEventListener("click", function () {
                                if (document.getElementById("toggle-one").checked) {
                                    console.log('checked')
                                    manualMode.style.display = "block"; // 수동 모드일 때 슬라이더를 표시함
                                    document.getElementById("autoMode").style.display = "none"
                                } else {
                                    console.log('unchecked')
                                    document.getElementById("autoMode").style.display = "block"

                                    manualMode.style.display = "none"; // 자동 모드일 때 슬라이더를 숨김
                                }
                            });

                            // 슬라이더의 값이 변경되면 실행되는 함수
                            temperatureRange.addEventListener("input", function () {
                                temperatureValue.innerHTML = temperatureRange.value;
                            });

                            // 확인 버튼을 클릭하면 실행되는 함수
                            confirmButton.addEventListener("click", function () {
                                console.log("confirm button clicked");
                            });
                            confirmButton.addEventListener("click", function () {
                                var xhr = new XMLHttpRequest();
                                xhr.open("POST", "/update_heater");
                                xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                                // xhr.onload = function () {
                                //     if (xhr.status === 200) {
                                //         var response = JSON.parse(xhr.responseText);
                                //         var heaterValue = response.heater;
                                //         document.getElementById("heater").innerHTML = heaterValue;
                                //     } else {
                                //         console.error(xhr.responseText);
                                //     }
                                // };
                                xhr.send(JSON.stringify({
                                    mode: modeToggle.value,
                                    temperature: temperatureRange.value
                                }));
                            });
                        </script>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card text-black mb-3 shadow" style="max-width: 100%; max-height: 8rem;">
                    <div class="card-header shadow" style="font-weight: bold;">실내 온도</div>
                    <div class="card-body rounded">
                        <h3 class="card-title d-inline" id="temperature1">{{ temperature1 }}</h3>
                        <span style="white-space: nowrap;">°C</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-black mb-3 shadow" style="max-width: 100%; max-height: 8rem;">
                    <div class="card-header shadow" style="font-weight: bold;">수조 온도
                    </div>
                    <div class="card-body">
                        <h3 class="card-title d-inline" id="temperature2">{{ temperature2 }}</h3>
                        <span style="white-space: nowrap;">°C</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card text-black mb-3 shadow" style="max-width: 100%; max-height: 8rem;">
                    <div class="card-header shadow" style="font-weight: bold;">토출구 온도</div>
                    <div class="card-body">
                        <h3 class="card-title d-inline" id="temperature3">{{ temperature3 }}</h3>
                        <span style="white-space: nowrap;">°C</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-black mb-3 shadow" style="max-width: 100%; max-height: 8rem;">
                    <div class="card-header shadow" style="font-weight: bold;">아이 온도</div>
                    <div class="card-body">
                        <h3 class="card-title d-inline" id="baby_temperature">{{baby_temperature }}</h3>
                        <span style="white-space: nowrap;">°C</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="card mb-3 shadow" style="max-width: 100%;">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: bold; ">미세먼지</h5>
                        <span>미세 [㎛] : </span>
                        <span id="dust">{{ dust }}</span>
                        <div class="progress">
                            <div id="micro-dust-progress-bar"
                                class="progress-bar progress-bar-striped bg-success animated" role="progressbar"
                                style="width: 100%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="150">
                            </div>
                        </div>
                        <span>초미세 [㎛] : </span>
                        <span id="micro_dust">{{ micro_dust }}</span>
                        <div class="progress">
                            <div id="dust-progress-bar" class="progress-bar progress-bar-striped bg-success animated"
                                role="progressbar" style="width: 100%" aria-valuenow="0" aria-valuemin="0"
                                aria-valuemax="200">
                            </div>
                        </div>
                        <script>
                            $(document).ready(function () {
                                var $progressBarDust = $('#dust-progress-bar');
                                var $progressBarMicroDust = $('#micro-dust-progress-bar');
                                // 프로그레스 바 값 변경 함수
                                function updateProgressBarDustMicro(value) {
                                    $progressBarDust.attr('aria-valuenow', value);
                                    $progressBarDust.css('width', value + '%');

                                    // 값에 따라 클래스 변경
                                    if (value >= 0 && value < 15) {
                                        $progressBarDust.removeClass('bg-success bg-info bg-warning bg-danger').addClass('bg-success');
                                        $progressBarDust.text("좋음");
                                    } else if (value > 15 && value <= 35) {
                                        $progressBarDust.removeClass('bg-success bg-info bg-warning bg-danger').addClass('bg-info');
                                        $progressBarDust.text("보통");
                                    } else if (value > 36 && value <= 75) {
                                        $progressBarDust.removeClass('bg-success bg-info bg-warning bg-danger').addClass('bg-warning');
                                        $progressBarDust.text("나쁨");
                                    }
                                    else {
                                        $progressBarDust.removeClass('bg-success bg-info bg-warning bg-danger').addClass('bg-danger');
                                        $progressBarDust.text("매우나쁨");
                                    }
                                }
                                function updateProgressBarDust(value) {
                                    $progressBarMicroDust.attr('aria-valuenow', value);
                                    $progressBarMicroDust.css('width', value + '%');

                                    // 값에 따라 클래스 변경
                                    if (value >= 0 && value < 30) {
                                        $progressBarMicroDust.removeClass('bg-success bg-info bg-warning bg-danger').addClass('bg-success');
                                        $progressBarMicroDust.text("좋음");
                                    } else if (value > 30 && value <= 80) {
                                        $progressBarMicroDust.removeClass('bg-success bg-info bg-warning bg-danger').addClass('bg-info');
                                        $progressBarMicroDust.text("보통");
                                    } else if (value > 80 && value <= 150) {
                                        $progressBarMicroDust.removeClass('bg-success bg-info bg-warning bg-danger').addClass('bg-warning');
                                        $progressBarMicroDust.text("나쁨");
                                    }
                                    else {
                                        $progressBarMicroDust.removeClass('bg-success bg-info bg-warning bg-danger').addClass('bg-danger');
                                        $progressBarMicroDust.text("매우나쁨");
                                    }
                                }
                                // 1초마다 프로그레스 바 값 변경
                                setInterval(function () {
                                    $.get('/update_dust', function (data) {
                                        var dust = parseInt(data.dust);
                                        var micro_dust = parseInt(data.micro_dust);
                                        $('#dust').text(data.dust);
                                        $('#micro_dust').text(data.micro_dust);
                                        updateProgressBarDust(dust);
                                        updateProgressBarDustMicro(micro_dust);
                                    });
                                }, 1000);
                            });
                        </script>
                        <p class="card-text"><small class="text-muted">Last updated 1 secs ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 shadow">
            <div class="card-body">
                <h5 class="card-title" style="font-weight: bold; ">FLIR Mode Change</h5>
                <p class="card-text"> Visual - RGB이미지 모드입니다.</p>
                <p class="card-text"> MSX - 적외선과 RGB이미지를 합친 모드입니다.</p>
                <p class="card-text"> IR - 적외선 모드입니다.</p>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-info mx-2" id="visual-mode">Visual mode</button>
                    <button type="button" class="btn btn-info mx-2" id="MSX-mode">MSX mode</button>
                    <button type="button" class="btn btn-info mx-2" id="IR-mode">IR mode</button>
                </div>
            </div>
        </div>
        <div class="card mb-3 shadow">
            <div class="card-body">
                <h5 class="card-title" style="font-weight: bold; ">Camera Device Change</h5>
                <p class="card-text"> 카메라를 바꿉니다.</p>

                <div class="d-flex justify-content-center">
                    <button type="button" id="FLIR" class="btn btn-warning mx-3">FLIR</button>
                    <button type="button" id="IR" class="btn btn-warning mx-3">RGB CAM</button>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                // "FLIR" 버튼 클릭 이벤트 처리
                $("#FLIR").click(function () {
                    location.reload();
                });

                // "IR" 버튼 클릭 이벤트 처리
                $("#IR").click(function () {
                    location.reload();
                });
            });
        </script>

        <script src="{{ url_for('static', filename='jquery.min.js')}}"></script>
        <script>
            $(document).ready(function () {
                $("#visual-mode").click(function () {
                    $.post("/change_cam_mode", { mode: "VIS" });
                });
                $("#MSX-mode").click(function () {
                    $.post("/change_cam_mode", { mode: "MSX" });
                });
                $("#IR-mode").click(function () {
                    $.post("/change_cam_mode", { mode: "IR" });
                });
                $("#FLIR").click(function () {
                    $.post("/change_cam_mode", { cam_mode: "FLIR" });
                });
                $("#IR").click(function () {
                    $.post("/change_cam_mode", { cam_mode: "IR" });
                });
            });
        </script>
        <script>
            $(document).ready(function () {
                setInterval(function () {
                    $.get('/update_heater', function (data) {
                        $('#heater').text(data.heater);
                        var heaterValue = document.getElementById("heater").innerHTML;

                        if (heaterValue === "ON") {
                            document.getElementById("heater").style.color = "red";
                        } else if (heaterValue === "OFF") {
                            document.getElementById("heater").style.color = "black";
                        }
                    });
                }, 3000);
            });

        </script>
        <div class="card mb-3 shadow" style="max-width: 100%;">
            <div class="card-body">
                <h5 class="card-title" style="font-weight: bold; ">수면 기록</h5>

                <ul class="list-group list-group-flush">
                    {% for table in tables %}
                    <li class="list-group-item">{{ table.date }} - {{ table.sleeptime }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
    <!-- time update -->
    <!-- <script type="text/javascript">
        function updateTime() {
            var now = new Date();
            var element = document.getElementById('current-time');
            element.innerHTML = now.toLocaleString();
        }
        setInterval(updateTime, 1000);
    </script> -->
    <script>
        $(document).ready(function () {
            setInterval(function () {
                $.get('/update', function (data) {
                    $('#temperature1').text(data.temperature1);
                    $('#temperature2').text(data.temperature2);
                });
            }, 1000);
        });
    </script>
    <script>
        $(document).ready(function () {
            setInterval(function () {
                $.get('/update_pt', function (data) {
                    $('#temperature3').text(data.temperature3);
                });
            }, 1000);
        });
    </script>
    <script>
        $(document).ready(function () {
            setInterval(function () {
                $.get('/update_baby_temp', function (data) {
                    $('#baby_temperature').text(data.baby_temperature);
                });
            }, 1000);
        });
    </script>

    <!-- <h1>Sleep Duration</h1>
    <ul>
        <li>Date | SleepTime</li>
        {% for table in tables %}
        <li>{{ table.date }} - {{ table.sleeptime }}</li>
        {% endfor %}
    </ul> -->

</body>

</html>